# Server
PORT=3000
NODE_ENV=development

# MongoDB
MONGODB_URI="mongodb+srv://hamsterxx2005:Tushar@2405@cluster0.naod9we.mongodb.net/prepai?retryWrites=true&w=majority&appName=Cluster0"

# Redis
REDIS_URL="redis://localhost:6379"

# Authentication
JWT_SECRET="your_jwt_secret"
JWT_REFRESH_SECRET="your_refresh_secret"

# AI
GEMINI_API_KEY=""

# OAuth
LINKEDIN_CLIENT_ID=""
LINKEDIN_CLIENT_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""